.container {
    background-color: var(--white);
    color: #000;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem
}

.current {
    font-size: 6rem;
    font-weight: 900;
    margin: 0;
}

.temps {
    display: flex;
    justify-content: space-around;
}

.temps p {
    font-weight: 900;
}

.temps span {
    font-weight: 400;
}